<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Manager</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js" defer></script>
</head>

<body>
    <div class="header">
        <h1>Appointment Manager</h1>
        <p>by Lukas Reißland</p>
    </div>

    <button class="logoutButton">Logout</button>

    <div class="inputFields">
        <label for="title">Title</label>
        <input type="text" id="title">

        <label for="description">Description</label>
        <input type="text" id="description">

        <label for="location">Location</label>
        <input type="text" id="location">

        <label for="time">Time</label>
        <input type="text" id="time">

        <label for="deadline">Deadline</label>
        <input type="date" id="deadline">

        <label for="registrationDeadline">Registration Deadline</label>
        <input type="date" id="registrationDeadline">

        <label for="isPublic">Make this task public</label>
        <input type="checkbox" id="isPublic" name="isPublic">

        <button>Add Task</button>
    </div>

    <div class="container">
        <div class="tasks">
            <ul></ul>
        </div>

        <div class="selected_task">
            <h2>Appointment Details</h2>
            <p>Select an appointment to view details</p>
        </div>
    </div>

    <footer>
        <p><a href="https://github.com/xGhostLuke/Appointment-Manger">Check the GitHub Repo here</a></p>
    </footer>
</body>

</html>
