<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js" defer></script>
</head>
<body>
    <div class="header">
        <h1>ToDo List</h1>
    </div>
    
    <div class="inputFields">
        <input type="text" placeholder="Titel" />
        <input type="text" placeholder="Beschreibung" />
        <input type="text" placeholder="Ort" />
        <input type="date" />
        <input type="date" />
        <button>Add Task</button>
    </div>
    
    <div class="container">
        <!-- Task List (Left) -->
        <div class="tasks">
            <ul></ul>
        </div>
    
        <!-- Task Details (Right) -->
        <div class="selected_task">
            <h2>Task Details</h2>
            <p>Select a task to view details</p>
        </div>
    </div>
    
    
</body>
</html>
