<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register</title>
    <link rel="stylesheet" href="/css/login_style.css">
    <script src="/js/login.js" defer></script>
</head>

<body>
    <div class="header">
        <h1>Appointment Manager</h1>
        <p>by Lukas Reißland</p>
    </div>

    <div class="container">
        <div class="form-container">
            <form id="loginForm">
                <label for="loginEmail">Email</label>
                <input type="email" id="loginEmail">

                <label for="loginPassword">Password</label>
                <input type="password" id="loginPassword">

                <button type="submit">Login</button>
            </form>

            <form id="registerForm" style="display: none;">
                <label for="registerEmail">Email</label>
                <input type="email" id="registerEmail">

                <label for="registerPassword">Password</label>
                <input type="password" id="registerPassword">

                <label for="registerConfirmPassword">Confirm Password</label>
                <input type="password" id="registerConfirmPassword">

                <button type="submit">Register</button>
            </form>

            <button id="toggleFormButton">Don't have an account? Register</button>
            <a class="publicLink" href="/public-tasks">View public Appointments</a>
        </div>
    </div>

    <footer>
        <p><a href="https://github.com/xGhostLuke/Appointment-Manger">Check the GitHub Repo here</a></p>
    </footer>
</body>

</html>
