<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Appointments</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/public.js" defer></script>
</head>

<body>
    <div class="header">
        <h1>Appointment Manager</h1>
        <p>by Lukas Reißland</p>
    </div>

    <div class="container">
        <div class="tasks">
            <ul></ul>
        </div>
        <a class="registerLink" href="/">Login/Register to create Appointments!</a>
        <div class="selected_task">
            <h2>Appointment Details</h2>
            <p>Select an Appointment to register</p>
            <div class="register-form hidden">
                <h3>Register for this Appointment</h3>
                <form id="appointment-registration">
                    <label for="first-name">First Name:</label>
                    <input type="text" id="first-name" name="first-name" required>
                    <label for="last-name">Last Name:</label>
                    <input type="text" id="last-name" name="last-name" required>
                    <label for="email">EMail:</label>
                    <input type="text" id="email" name="email" required>
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</body>

<footer>
    <p><a href="https://github.com/xGhostLuke/Appointment-Manger"> Check the GitHub Repo here</a></p>
</footer>

</html>
