<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Appointments</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/public.js" defer></script>
</head>

<body>
    <div class="header">
        <h1>Appointment Manager </h1>
        <p1>by Lukas Reißland</p1>
    </div>

    <div class="container">
        <div class="tasks">
            <ul></ul>
    </div>
    <a class=registerLink href="/">Login/Register to create own Appointments!</a>
    <div class="selected_task">
        <h2>Appointment Details</h2>
        <p>Select an Appointment to view details</p>
    </div>
    </div>
</body>
<footer>
    <p><a href="https://github.com/xGhostLuke/Appointment-Manger"> Check the GitHub Repo here</a></p>
</footer>
</html>
