* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #6073b4, #4d5db1, #6b6dda);
    background-size: 400% 400%;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 16px;
    animation: moveBackground 15s ease infinite;
}

.header {
    width: 100%;
    background-color: #6a7fd1;
    color: white;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 48px;
    color: #000;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0;
}

@keyframes moveBackground {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.auth-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
}

.form-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 250px;
    padding: 25px;
    padding-bottom: 10px;
    background-color: #819afc;
}

h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

label {
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
}

input[type="email"], input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0033ff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    padding: 12px 30px;
    border-radius: 5px;
}

button:hover {
    background-color: #4f6ff0;
}

button:active {
    background-color: #4a5c9f;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .auth-container {
        width: 100%;
        padding: 20px;
    }
}

.publicLink {
    color: black;
    text-align: center;
    padding-top: 10px;
}

footer {
    font-size: 16px;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
